.container {
    max-width: 100%;
    padding: 30px;
    min-height: 100vh;
    background-color: #FBFBFB;
    @media screen and (min-width: 992px) {
        margin-left: 283px;
        margin-right: 0px;
        padding: 30px;
    }
}