@mixin on-event($self: false) {
    @if $self {

        &,
        &.active,
        &:hover,
        &:active,
        &:focus,
        &:focus-within {
            @content;
        }
    }

    @else {

        &.active,
        &:hover,
        &:active,
        &:focus,
        &:focus-within {
            @content;
        }
    }
}

%flex-align-justify {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%remove-border-background {
    background-color: transparent;
    border: none;
}

.sidebar {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    max-width: 283px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #ececec;
    overflow-y: scroll;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    transition: all 500ms;
    @media screen and (min-width: 992px) {
        display: block;
    }

    p {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #545F7D;
        padding: 30px 33px 5px;
        margin: 0px;
    }

    h4 {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        padding: 30px 33px 5px;
        margin-bottom: 30px;
        color: #213F7D;
    }
    img {
         margin-right: 10px;   
    }
    .sideArrow {
        margin-right: 0px;
        margin-left: 10px;
    }

    &__logo {
        display: block;
        margin-bottom: 50px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //   height: 80vh;
        padding-bottom: 10px;
        margin-top: 79px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__link {
        display: flex;
        align-items: center;
        border-left: 4px solid transparent;
        color: #213F7D;
        opacity: 0.5;
        font-size: 16px;
        font-weight: 400;
        transition: all 500ms;
        text-decoration: none;
        padding: 15px 30px;

        @include on-event {
            text-decoration: none;
            color: #213F7D;
            opacity: 1;
            background: rgba(57, 205, 204, 0.06);
            border-left: 3px solid rgb(57, 205, 204);
        }
    }
    &__hr {
        border: 1px solid rgba(33, 63, 125, 0.1);
        margin-top: 71px;
        margin-bottom: 8px;
    }
}