.home {
    margin-top: 140px;

    h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #213F7D;
        margin: 0;
    }
}

.dashboard {
    &__summary {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 26px;
        margin-top: 40px;
        margin-bottom: 40px;

        @media screen and (min-width: 1500px) {
            grid-template-columns: repeat(4, 1fr);
        }

        &--box {
            display: flex;
            flex-direction: column;
            gap: 12px;
            background: #ffffff;
            box-shadow: 0px 12px 16px rgba(7, 42, 83, 0.05);
            border-radius: 4px;
            padding: 1rem;

            &__icon {
                display: grid;
                gap: 14px;
                align-items: center;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: #545F7D;
            }

            &__number {
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                text-transform: uppercase;
                color: #213F7D;
            }

            &__text {
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: 0.25px;
                color: rgba(1, 28, 49, 0.7);
            }

            a {
                color: rgba(1, 28, 49, 0.7);
            }
        }
    }
}

.table-body {
    display: grid;
    grid-template-columns: 10fr 2fr;
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);

    &:last-child {
        border-bottom: 0px;
    }

    @media screen and (min-width: 992px) {
        grid-template-columns: 10fr 2fr;
        align-items: center;
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);

        &:last-child {
            border-bottom: 0px;
        }
    }
}

.table-head {
    display: none;
    padding-bottom: 16px;

    @media screen and (min-width: 992px) {
        display: grid;
        grid-template-columns: 10fr 2fr;
    }
}

.group-1,
.body-group-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @media screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1.2fr 0.7fr 0.7fr;
    }
}

.group-2,
.body-group-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-left: auto;
    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-bottom: unset;
        margin-left: unset;
    }
}

.group-1,
.group-2 {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;

    div {
        display: flex;
        align-items: center;

        img {
            margin-left: 10px;
        }
    }
}



.body-group-1,
.body-group-2,
a {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #545F7D;
    padding: 16px 0;
    text-decoration: none;
}

.hamburger {
    margin-left: auto;
    order: 1;

    @media screen and (min-width: 992px) {
        order: 2;
        margin: 0 auto;
    }
}

.card-group-2 {
    display: grid;
    grid-template-columns: 1fr;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;

    @media screen and (min-width: 992px) {
        padding: 30px;
    }
}

.header-body {
    @media screen and (min-width: 992px) {
        width: 1200px;
    }

    @media screen and (min-width: 1350px) {
        width: 100%;
    }
}

.users-active {
    color: #39CD62;
    border-radius: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 6px 13px;
    letter-spacing: 0.25px;
    background: rgba(57, 205, 98, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    order: 2;
    margin-top: auto;

    @media screen and (min-width: 992px) {
        order: 1;
        margin-top: unset;
    }
}

.dropdown-body {
    background: #FFFFFF;
    border: none;
    .ant-dropdown-menu-item {
        display: flex;
        align-items: center;
    }
}
